@import url('https://fonts.googleapis.com/css?family=Pacifico');
:root {
  --main: #6255b2;
  --grey: #d3e0e9;
  --green: #2de087;
  --violet: #b48ead;
  --red: #e72d2d;
  --blue: #678bdc;
  --pink: #ff6f9f;
  --purple: #6255b2;
  --yellow: #e5c07b;
  --white: #ffffff;
  --dark-grey: #989898;
}
.font-size-14 {
    font-size: 14px;
}
.padding-20 {
    padding: 20px;
}
.circle-img {
    border-radius: 100%;
}
.no-margins {
    margin: 0px;
}
.no-padding {
    padding: 0px;
}
.navbar-brand {
  font-family: Pacifico, cursive;
}
.navbar {
    margin-bottom: 0px;
}
.container-wide {
    width: 75%;
}
#nav-links {
    padding: 20px;
    text-align: center;
}
#welcome-banner {
    height: 400px;
    background-color: var(--main);
}
#message {
    padding-top: 40px;
}
#welcome-logo {
    font-size: 160px;
    color: var(--white);
}
#welcome-message {
    font-family: Pacifico, cursive;
    color: var(--white);
    font-size: 60px;
}
.colored-text-nav-links {
    color: var(--main);
    font-weight: bold;
}
#tweetbox {
    resize: none;
}
#tweet-button {
  background-color: var(--main);
  color: white;
}
.card {
    border: 1px solid var(--grey);
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 1%;
}
.header {
    margin-bottom: 20px;
}
.btn-rounded {
    border-radius: 17px;
}
.padding-20-top-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
}
.grey-text {
    color: var(--dark-grey);
}
body, html {
    height: 100%;
}
.bg-image {
    background-image: url('http://chirp.io/avatars/pattern.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.styled-input {
    height: 45px;
    font-size: 18px;
    border-radius: 2px;
    border: 1px solid #e6ecf0;
}
.inactive-bg {
    padding: 15px;
    background-color: #e6ecf0;
}
.panel {
    margin-top: 30px;
}
.col-no-pad {
    padding: 0;
}
.footer-fixed {
    position: fixed;
    bottom: 0;
}
.list-inline > li {
    padding-left: 15px;
    padding-right: 15px;
}
.nounderline:hover {
    text-decoration: none;
}
.no-bottom-margin {
    margin-bottom: 0;
}
.corner-button {
    border-radius: 2px;
    height: 90px;
}
.padding-10 {
    padding: 10px;
}
